<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO </title>
    
    <style>
        body{
            background-image: url("{{ url_for('static', filename='manutencao.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x: center;
        }

    </style>

</head>
<body>

    
</body>
</html>